@model Biblioteka.Models.IzdanjaKnjiga

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Da li ste sigurni da želite da izbrišete ovo izdanje?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SlikaKorica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlikaKorica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojNaStanju)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojNaStanju)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojIzdatih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojIzdatih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IzdavackeKuce.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IzdavackeKuce.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knjige.Naslov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knjige.Naslov)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-danger" /> |
            @Html.ActionLink("Nazad na listu", "Index")
        </div>
    }
</div>
